.jumbo-holder {
    width: 80%;
    margin-left: 10%;
}

footer {
    margin-left: 10%;
}

h1 {
    font-size: 36pt;
}

.lead {
    font-size: 18pt; 
}

p {
    font-size: 15pt;
    font-weight: bold;
}