.all {
    width: 80%;
    margin-left: 10%;
}

form {
    font-size: 15pt;
}

.survey-questions {
    font-size: 18pt;
}

.survey-answers {
    width: 15%;
}

.btn {
    width: 100%;
}

footer {
    margin-left: 20%;
}